name: Node

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Set Information
        run: |
          stage=`echo ${GITHUB_SHA} | cut -b 1-7`
          bunver=`bun --version`
          sed -i "s/COMMIT_VERSION/$stage/g" src/version.ts
          sed -i "s/BUN_VERSION/$bunver/g" src/version.ts

      - name: Install dependencies
        run: bun install

      - name: Build
        run: bun run build

      - name: Publish
        run: bun publish --registry https://npm.pkg.github.com
        env:
          NPM_CONFIG_TOKEN: ${{secrets.GITHUB_TOKEN}}
